# This is only a thanos ruler dummy for prometheus operator to generate a configmap.
# The actual thanos ruler is part of the receiver release.
ruleNamespaceSelector: {}
ruleSelector:
  matchLabels:
    evaluate_thanos: "1"
