---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: alertmanager-configurer
  namespace: monitoring
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: alertmanager-configurer
subjects:
{{- range $user := .Values.users }}
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ $user }}
{{- end }}
