{{- if .Values.enableFalcoViewer }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: falco-viewer
  namespace: falco
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
{{- range $user := .Values.users }}
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ $user }}
{{- end }}
{{- end }}
