{{- range $namespace := .Values.namespaces }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: workload-admin
  namespace: {{ $namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
{{- range $user := $.Values.users }}
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ $user }}
{{- end }}
{{- range $group := $.Values.groups }}
- apiGroup: rbac.authorization.k8s.io
  kind: Group
  name: {{ $group }}
{{- end }}
{{- end }}
