global:
  issuer: self-signed
  verifyTls: false
issuers:
  extraIssuers:
    - apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: self-signed
      spec:
        selfSigned: {}
  letsencrypt:
    enabled: false

prometheus:
  alertmanagerSpec:
    replicas: 1
  storage:
    size: 2Gi
  retention:
    size: 1GiB
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

velero:
  enabled: false

networkPolicies:
  # ADR: https://elastisys.io/welkin/adr/0051-open-cert-manager-netpols/
  certManager:
    letsencrypt:
      ips:
        - 0.0.0.0/0
    http01:
      ips:
        - 0.0.0.0/0
    dns01:
      ips:
        - 0.0.0.0/0
  kyverno:
    imageRegistry:
      ips:
        - 0.0.0.0/0
      ports:
        - 443
        - 80

certmanager:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi
  webhook:
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 50m
        memory: 64Mi
  cainjector:
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi
ingressNginx:
  controller:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 250Mi
opa:
  controllerManager:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi
  audit:
    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

falco:
  enabled: false

trivy:
  enabled: false
