global:
  verifyTls: false

prometheus:
  storage:
    size: 2Gi
  retention:
    size: 1GiB

velero:
  enabled: false

networkPolicies:
  # ADR: https://elastisys.io/compliantkubernetes/adr/0051-open-cert-manager-netpols/
  certManager:
    letsencrypt:
      ips:
        - 0.0.0.0/0
    http01:
      ips:
        - 0.0.0.0/0
    dns01:
      ips:
        - 0.0.0.0/0
