users:
    - name: fluentd
      secretName: "opensearch-fluentd-user"
      secretKey: "password"
      opendistroSecurityRoles:
        - log_forwarder
    - name: metrics-exporter
      secretName: "opensearch-metrics-exporter-user"
      secretKey: "password"
      opendistroSecurityRoles:
        - metrics_exporter
