service:
  type: ClusterIP
  ports:
    - targetPort: 8080
      hostPort: 80
      port: 8080
      name: http
    - targetPort: 8443
      hostPort: 443
      port: 8443
      name: https
    - targetPort: 8877
      hostPort: 8877
      port: 8877
      name: health
daemonSet: true