ingress:
  clusterDomain: {{ .Values.global.opsDomain }}
  {{ if and .Values.externalTrafficPolicy.local .Values.externalTrafficPolicy.whitelistRange.ck8sdash}}
  extraAnnotations:
    nginx.ingress.kubernetes.io/whitelist-source-range: {{ .Values.externalTrafficPolicy.whitelistRange.ck8sdash }}
  {{ end }}

grafana:
  url: "https://grafana.{{ .Values.global.opsDomain }}"
  password: {{ .Values.grafana.password }}
  apiKeyName: "ck8sdash-sc"
  datasource: "prometheus-sc"
