podSecurityPolicy:
  # Specifies whether a PSP, Role and RoleBinding should be created
  create: true

serviceMonitor:
  # Enable the deployment of a Service Monitor for the Prometheus Operator.
  enabled: true
