password: {{ .Values.harbor.password }}
oidc:
  clientSecret: {{ .Values.harbor.clientSecret }}
  endpoint: "https://{{ .Values.dex.ingress.subdomain }}.{{ .Values.global.baseDomain }}"
  verifyCert: {{ .Values.global.verifyTls }}
  groupClaimName: {{ .Values.harbor.oidc.groupClaimName }}
  adminGroupName: {{ .Values.harbor.oidc.adminGroupName }}
  scope: {{ .Values.harbor.oidc.scope }}
