ingress:
  enabled: true
  issuer: "{{ .Values.global.issuer }}"
  clusterDomain: "{{ .Values.global.baseDomain }}"
  username: "kubeapiuser"
  password: "{{ .Values.kubeapiMetricsPassword }}"
  ## TODO: ingress whitelist
  {{ if .Values.ambassador.enabled }}
  extraAnnotations:
    kubernetes.io/ingress.class: ambassador
  {{ end }}
  #  nginx.ingress.kubernetes.io/whitelist-source-range: ...
