letsencrypt:
  enabled: {{ .Values.issuers.letsencrypt.enabled }}
  namespaces: {{- toYaml .Values.issuers.letsencrypt.namespaces | nindent 4 }}
  prod:
    email: {{ .Values.issuers.letsencrypt.prod.email }}
  staging:
    email: {{ .Values.issuers.letsencrypt.staging.email }}

extraIssuers: {{- toYaml .Values.issuers.extraIssuers | nindent 2 }}
