esNodeCount: {{ add .Values.elasticsearch.dataNode.count .Values.elasticsearch.clientNode.count .Values.elasticsearch.masterNode.count }}

defaultRules:
  labels:
    cluster: service
  rules:
    rookMonitor: {{ .Values.monitoring.rook.enabled }}

predictLinearLimit: {{ .Values.prometheus.predictLinearLimit }}

rookMonitor:
  enabled: {{ .Values.monitoring.rook.enabled }}
  relabelings:
  - targetLabel: cluster
    replacement: service_cluster
