defaultRules:
  labels:
    cluster: service

rookMonitor:
  enabled: {{ .Values.monitoring.rook.enabled }}
  relabelings:
  - targetLabel: cluster
    replacement: service_cluster

certMonitor:
  enabled: true
  relabelings:
  - targetLabel: cluster
    replacement: service_cluster
