baseDomain: {{ .Values.global.baseDomain }}
ingress:
  enabled: {{ .Values.user.alertmanager.ingress.enabled }}
  issuer: {{ .Values.global.issuer }}
basic_auth:
  username: alertmanager
  password: {{ .Values.user.alertmanagerPassword }}
users: {{ toYaml .Values.user.adminUsers | nindent 2 }}
groups: {{ toYaml .Values.user.adminGroups | nindent 2 }}

resources: {{- toYaml .Values.user.alertmanager.resources | nindent 2  }}
