namespaces: {{ toYaml .Values.user.namespaces | nindent 2 }}
users: {{ toYaml .Values.user.adminUsers | nindent 2 }}
groups: {{ toYaml .Values.user.adminGroups | nindent 2 }}
createNamespaces: {{ .Values.user.createNamespaces }}
enableFalcoViewer: {{ toYaml .Values.falco.enabled | nindent 2 }}
alertmanager:
  enabled: {{ .Values.user.alertmanager.enabled }}
  namespace: {{ .Values.user.alertmanager.namespace }}
