common:
  rbac:
    pspEnabled: true
  serviceAccount:
    name: "local-storage-admin"
classes:
- name: local-storage
  hostDir: /mnt/disks
resources:
  limits:
    memory: "256Mi"
  requests:
    memory: "256Mi"
    cpu: "10m"
