---
templates:
  nvidia-gpu-operator:
    inherit: [ template: gpu-operator-chart ]
    name: gpu-operator
    namespace: gpu-operator
    labels:
      app: gpu-operator
    disableValidationOnInstall: true
    installed: {{ .Values | get "gpu.enabled" false }}
    values:
      - values/gpu-operator.yaml.gotmpl
