---
templates:
  nvidia-gpu-operator:
    disableValidationOnInstall: true
    condition: ck8sAnyCluster.enabled
    inherit: [ template: gpu-operator-chart ]
    installed: {{ .Values | get "gpu.enabled" false }}
    namespace: gpu-operator
    name: nvidia-gpu-operator
    needs:
      - kube-system/admin-namespaces
    labels:
      app: gpu-operator
    values:
      - values/gpu-operator.yaml.gotmpl
