storageClasses:
  default: standard
networkPolicies:
  global:
    externalLoadBalancer: true
    ingressUsingHostNetwork: false
    ingressMode: ExternalProxy
  kubeSystem:
    upcloud:
      enabled: true
      ips:
        - 94.237.0.0/23
      ports:
        - 443
objectStorage:
  type: s3
  s3:
    region: set-me
    regionEndpoint: set-me
    forcePathStyle: true
ingressNginx:
  controller:
    config:
      useProxyProtocol: false
    useHostPort: false
    service:
      enabled: true
      allocateLoadBalancerNodePorts: true
      type: NodePort
      annotations: {}
opa:
  rejectLoadBalancerService:
    enabled: true
prometheus:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          resources:
            requests:
              storage: 10Gi
