storageClasses:
  default: standard
networkPolicies:
  global:
    externalLoadBalancer: true
    ingressUsingHostNetwork: true
  ingressNginx:
    ingressOverride:
      enabled: false
  kubeSystem:
    upcloud:
      enabled: true
      ips:
        - 94.237.0.0/23
      ports:
        - 443
objectStorage:
  type: s3
  s3:
    region: set-me
    regionEndpoint: set-me
    forcePathStyle: true
ingressNginx:
  controller:
    config:
      useProxyProtocol: false
    useHostPort: true
    service:
      enabled: false
      allocateLoadBalancerNodePorts: true
externalTrafficPolicy:
  local: false
opa:
  rejectLoadBalancerService:
    enabled: true
