# Defult settings to use with helm.
helmDefaults:
  timeout: 600
  createNamespace: false
  skipDeps: true

# Environments
environments:
  workload_cluster:
    values:
      - "{{ requiredEnv "CK8S_CONFIG_PATH" }}/wc-config.yaml"
    secrets:
      - "{{ requiredEnv "CK8S_CONFIG_PATH" }}/secrets.yaml"
  service_cluster:
    values:
      - "{{ requiredEnv "CK8S_CONFIG_PATH" }}/sc-config.yaml"
    secrets:
      - "{{ requiredEnv "CK8S_CONFIG_PATH" }}/secrets.yaml"

# The desired state of Helm releases.
releases:
# Kube-prometheus-stack
- name: kube-prometheus-stack
  namespace: monitoring
  labels:
    app: kube-prometheus-stack
  chart: ./upstream/kube-prometheus-stack
  version: 12.8.0
  missingFileHandler: Error
  # https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#some-caveats-and-explanations
  # The --dry-run flag of helm install and helm upgrade is not currently supported for CRDs.
  disableValidationOnInstall: true
  values:
{{ if eq .Environment.Name "service_cluster" }}
  - values/kube-prometheus-stack-sc.yaml.gotmpl
{{ end }}
{{ if eq .Environment.Name "workload_cluster" }}
  - values/kube-prometheus-stack-wc.yaml.gotmpl
{{ end }}
