{{- if .Values.letsencrypt.enabled }}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    email: {{ $.Values.letsencrypt.prod.email | quote }}
    privateKeySecretRef:
      name: letsencrypt-prod
    server: https://acme-v02.api.letsencrypt.org/directory
    solvers:
    {{- if .Values.letsencrypt.prod.solvers }}
    {{- toYaml .Values.letsencrypt.prod.solvers | nindent 4 }}
    {{- else }}
    # An empty selector will 'match' all Certificate resources that
    # reference this Issuer.
    - selector: {}
      http01:
        ingress:
          class: nginx
    {{- end }}
{{- end }}
