[submodule "pipeline/bats-helpers/bats-assert"]
	path = pipeline/bats-helpers/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "pipeline/bats-helpers/bats-support"]
	path = pipeline/bats-helpers/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "pipeline/bats-helpers/bats-mock"]
	path = pipeline/bats-helpers/bats-mock
	url = https://github.com/grayhemp/bats-mock.git
