repos:
  - repo: local
    hooks:
      - id: avoid-old-website-urls
        name: Avoid old URLs and use "https://elastisys.io/welkin" instead
        entry: "elastisys.io/compliantkubernetes"
        language: pygrep
        types: [text]
        exclude: ^.pre-commit-config.yaml$
      - id: avoid-old-names
        name: Avoid old names and use use "Welkin" instead
        entry: "(Compliant[ ]Kubernetes|C[kK]8[sS][^_]|Complaint)"
        language: pygrep
        types: [text]
        exclude: ^(.pre-commit-config.yaml|changelog/0.43.md|.github/workflows/push-to-ghcr.yml)$
      - id: consistent-trademark
        name: Either use the trademark "Elastisys Welkin®" consistently or "Welkin" on its own
        entry: "(?<!Elastisys )\\bWelkin®"
        language: pygrep
        types: [text]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
        exclude: ^helmfile.d/upstream/opensearch-project/opensearch/CHANGELOG.md$
      - id: check-json
        exclude: ^helmfile\.d/upstream/
      - id: check-toml
        exclude: ^helmfile\.d/upstream/
      - id: check-yaml
        exclude: ^helmfile\.d/.*/templates/|^helmfile\.d/upstream/|^helmfile\.d/state.yaml$|^helmfile\.d/charts/prometheus-alerts/files/
        args:
          - --allow-multiple-documents
      - id: detect-private-key
        exclude: ^helmfile\.d/upstream/
      - id: end-of-file-fixer
        exclude: ^helmfile\.d/upstream/|^tests/.*/.*\.out$
      - id: mixed-line-ending
        exclude: ^helmfile\.d/upstream/
      - id: no-commit-to-branch
      - id: trailing-whitespace
        exclude: ^helmfile\.d/upstream/|^tests/.*/.*\.out$

  - repo: local
    hooks:
      - id: generate-cypress-tests
        name: generate cypress tests
        language: script
        require_serial: true
        files: '.*\.cy.js'
        entry: tests/common/gen.bash
        args:
          - cypress

      - id: generate-template-tests
        name: generate template tests
        language: script
        require_serial: true
        files: '.*\.bats.gotmpl'
        entry: tests/common/gen.bash
        args:
          - template

      - id: shellcheck
        name: check scripts
        types: [shell]
        exclude_types: [csh, tcsh, zsh]
        exclude: ^helmfile\.d/charts/opensearch/configurer/files/|^helmfile\.d/upstream/|^images/elasticsearch-curator/
        language: script
        require_serial: true
        entry: scripts/run-from-container.sh
        args:
          - --network=none
          - docker.io/koalaman/shellcheck:v0.10.0@sha256:2097951f02e735b613f4a34de20c40f937a6c8f18ecb170612c88c34517221fb
          - --color=always
          - --external-sources

      - id: shfmt
        name: format scripts
        types: [shell]
        exclude_types: [csh, tcsh, zsh]
        exclude: ^helmfile\.d/charts/opensearch/configurer/files/|^helmfile\.d/upstream/|^images/elasticsearch-curator/
        language: script
        require_serial: true
        entry: scripts/run-from-container.sh
        args:
          - --network=none
          - docker.io/mvdan/shfmt:v3.10.0@sha256:d19cc37644449fe9a488f234d2c0cf0b770eaf6a5a40e30103e8099013ef8f9e
          - -w

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        name: check spelling
        exclude: ^helmfile\.d/charts/hnc/config-and-crds/crds/|^helmfile\.d/upstream/
        args:
          - -I
          - .codespellignore

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.14.0
    hooks:
      - id: markdownlint-cli2
        name: lint markdown files
        exclude: ^changelog/|^docs/sbom.md$|^helmfile\.d/charts/opensearch/configurer/files/|^helmfile\.d/upstream/|^images/elasticsearch-curator/
        args:
          - --fix
