repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: no-commit-to-branch
      - id: check-merge-conflict
      - id: check-yaml
        exclude: ^helmfile\.d/(bases/.*|charts/.*/templates/.*|stacks/.*|upstream/.*|state.yaml)$
        args:
          - --allow-multiple-documents
      - id: check-json
        exclude: ^helmfile\.d/(charts/.*/templates/|upstream/)
      - id: detect-private-key
        exclude: ^helmfile\.d/upstream/|^pipeline/sops-pgp-setup.bash$
      - id: end-of-file-fixer
        exclude: ^helmfile\.d/upstream/|^tests/.*/resources/
      - id: trailing-whitespace
        exclude: ^helmfile\.d/upstream/|^tests/.*/resources/

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.39.0
    hooks:
      - id: markdownlint
        name: lint markdown
        args:
          - --disable
          - MD013 # Line length
          - MD024 # Multiple headings with the same content
          - MD026 # Trailing punctuation in heading
          - MD028 # Blank line inside blockquote
          - MD029 # Ordered list item prefix
          - MD033 # Inline HTML
          - MD034 # Bare URL used
          - MD036 # Emphasis used instead of a heading
          - MD040 # Fenced code blocks should have a language specified
          - MD041 # First line in a file should be a top-level heading
          - MD042 # No empty links
          - MD051 # Link fragments should be valid
          - --
        exclude: ^helmfile\.d/upstream/|^helmfile\.d/charts/grafana-dashboards/files/welcome.md$|^helmfile\.d/charts/opensearch/configurer/files/dashboards-resources/welcome.md$|^images/elasticsearch-curator/README.md

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 2.7.3
    hooks:
      - id: editorconfig-checker
        name: check indentation
        exclude: ^helmfile\.d/upstream/|^helmfile\.d/charts/grafana-dashboards/dashboards/|^LICENSE$|^tests/.*/resources/

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        name: check spelling
        exclude: ^helmfile\.d/upstream/|^helmfile\.d/charts/hnc/config-and-crds/crds/|^helmfile\.d/charts/grafana-dashboards/dashboards/scripts/|^tests/package-lock.json$
        args:
          - -L
          - fpr

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        name: check scripts
        exclude: ^helmfile\.d/upstream/|^helmfile\.d/charts/opensearch/configurer/files/configurer.sh$
        require_serial: true
        args:
        - --color=always
        - --external-sources
