# Specify users with e-mail or GitHub username.

# Note: if many patterns match the same file, the latest pattern
# will override the previous ones.

# CLI
/bin/         @simonklb
/completion/  @simonklb

# Pipeline
/pipeline/          @viktor-f @lentzi90
.github/workflows/  @viktor-f @lentzi90

# Harbor
/helmfile/charts/*harbor*/    @viktor-f
/helmfile/values/*harbor*     @viktor-f

# Elastic/Kibana
/helmfile/values/opendistro*    @OlleLarsson

# Elastic misc (backup/slm)
/helmfile/charts/elasticsearch*/    @OlleLarsson
/helmfile/values/elasticsearch*     @OlleLarsson

# InfluxDB
/helmfile/values/influxdb*    @OlleLarsson

# Dex
/helmfile/values/dex*   @lentzi90

# OPA and Gatekeeper
/helmfile/charts/gatekeeper*/                     @viktor-f @simonklb
/helmfile/values/gatekeeper*                      @viktor-f @simonklb
/pipeline/test/services/unit-tests/test-opa.sh    @viktor-f @simonklb

# Falco
/helmfile/charts/falco*/    @viktor-f
/helmfile/values/falco*     @viktor-f

# Prometheus and Grafana
/helmfile/charts/kubeapi-metrics/   @lentzi90 @OlleLarsson
/helmfile/charts/prometheus*/       @lentzi90 @OlleLarsson
/helmfile/values/grafana*           @lentzi90 @OlleLarsson
/helmfile/values/kubeapi-metrics*   @lentzi90 @OlleLarsson
/helmfile/values/prometheus*        @lentzi90 @OlleLarsson

# Alerts
/helmfile/charts/examples/user-alertmanager/      @OlleLarsson @pettersv
/helmfile/charts/*alert*/                         @OlleLarsson @pettersv
/helmfile/values/*alert*                          @OlleLarsson @pettersv

# Velero
/helmfile/values/velero*    @viktor-f

# Fluentd
/helmfile/values/fluentd*   @OlleLarsson

# Cert-manager
/bootstrap/issuers/   @lentzi90

# Nginx
/helmfile/values/nginx*   @lentzi90 @viktor-f @Xartos

# core DNS / node-local DNS
/helmfile/charts/node-local-dns/  @Xartos @simonklb
/helmfile/values/node-local-dns*  @Xartos @simonklb

# Blackbox exporter / Metrics server
/helmfile/charts/blackbox/        @lentzi90
/helmfile/values/blackbox*        @lentzi90
/helmfile/values/metrics-server*  @lentzi90

# Pod Security Policies
/helmfile/charts/*psp*/   @viktor-f @lentzi90
/helmfile/values/*psp*    @viktor-f @lentzi90
/helmfile/*psp*           @viktor-f @lentzi90

# RBAC
/helmfile/charts/*rbac*/    @lentzi90 @viktor-f
/helmfile/values/*rbac*     @lentzi90 @viktor-f

# Tests and linters
/pipeline/test/           @lentzi90 @pettersv
.editorconfig             @lentzi90 @pettersv
.mdl*                     @lentzi90 @pettersv
.pre-commit-config.yaml   @lentzi90 @pettersv
.shellcheckrc             @lentzi90 @pettersv
