{{ if .Values.falco.enabled }}
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-falco-sidekick
  namespace: falco
spec:
  policyTypes:
    - Ingress
    - Egress
  podSelector:
    matchLabels:
      app.kubernetes.io/instance: falco
      app.kubernetes.io/name: falcosidekick
  ingress:
    - from:
      - podSelector:
          matchLabels:
            app.kubernetes.io/name: falco
      ports:
        - port: 2801
  egress:
    - ports:
        - port: 53
          protocol: UDP
{{- end }}
