{{ if and (eq .Values.falco.alerts.type "alertmanager") .Values.prometheus.useralertmanager.enabled }}
falcosidekick:
  config:
    alertmanager:
      hostport: {{ .Values.falco.alerts.hostPort }}
      minimumpriority: {{ .Values.falco.alerts.priority }}
{{ end }}
