{{- if .Values.requireResourceRequests.enable -}}
apiVersion: constraints.gatekeeper.sh/v1alpha1
kind: K8sResourceRequests
metadata:
  name: elastisys-require-resource-requests
spec:
  enforcementAction: {{ .Values.requireResourceRequests.enforcementAction }}
  match:
    kinds:
      - apiGroups: [""]
        kinds: ["Pod", "ReplicationController"]
      - apiGroups: ["apps"]
        kinds: ["Deployment", "StatefulSet", "DaemonSet", "ReplicaSet"]
      - apiGroups: ["extensions"]
        kinds: ["Deployment", "StatefulSet", "DaemonSet", "ReplicaSet"]
      - apiGroups: ["batch"]
        kinds: ["Job", "CronJob"]
    excludedNamespaces: ["kube-system", "kube-public", "kube-node-lease"]
    namespaceSelector:
      matchExpressions:
      - key: owner
        operator: NotIn
        values:
        - operator
{{- end }}
