# targetNamespace defines where you want trivy-operator to operate. By
# default it will only operate in the namespace its installed in, but you can
# specify another namespace, or a comma separated list of namespaces, or set it
# to a blank string to let it operate in all namespaces.
targetNamespaces: ""

operator:

  replicas: 1

  # configAuditScannerEnabled the flag to enable configuration audit scanner
  configAuditScannerEnabled: true
  # vulnerabilityScannerEnabled the flag to enable vulnerability scanner
  vulnerabilityScannerEnabled: true
  # vulnerabilityScannerReportTTL the flag to set how long a vulnerability report should exist. "" means that the vulnerabilityScannerReportTTL feature is disabled
  scannerReportTTL: {{ .Values.trivy.vulnerabilityScanner.scannerReportTTL }}
  # vulnerabilityScannerScanOnlyCurrentRevisions the flag to only create vulnerability scans on the current revision of a deployment.
  vulnerabilityScannerScanOnlyCurrentRevisions: {{ .Values.trivy.vulnerabilityScanner.scanOnlyCurrentRevisions }}
  configAuditScannerScanOnlyCurrentRevisions: false
  # scanJobsConcurrentLimit the maximum number of scan jobs create by the operator
  scanJobsConcurrentLimit: {{ .Values.trivy.scanJobs.concurrentLimit }}
  # scanJobsRetryDelay the duration to wait before retrying a failed scan job
  scanJobsRetryDelay: {{ .Values.trivy.scanJobs.retryDelay }}
  # scanJobTimeout the length of time to wait before giving up on a scan job
  scanJobTimeout: {{ .Values.trivy.scanJobs.timeout }}

tolerations: {{- toYaml .Values.trivy.tolerations | nindent 2 }}

affinity: {{- toYaml .Values.trivy.affinity | nindent 2 }}

resources: {{- toYaml .Values.trivy.resources | nindent 2 }}

serviceMonitor:
  # enabled determines whether a serviceMonitor should be deployed
  enabled: {{ .Values.trivy.serviceMonitor.enabled }}
