storageClasses:
  default: rook-ceph-block
objectStorage:
  type: none
ingressNginx:
  controller:
    config:
      useProxyProtocol: false
    useHostPort: true
    service:
      enabled: false
      allocateLoadBalancerNodePorts: true
networkPolicies:
  global:
    externalLoadBalancer: true
    ingressUsingHostNetwork: true
  ingressNginx:
    ingressOverride:
      enabled: false
  rookCeph:
    enabled: true
opa:
  rejectLoadBalancerService:
    enabled: true
prometheusBlackboxExporter:
  targets:
    rook: true
rookCeph:
  monitoring:
    enabled: true
  gatekeeperPsp:
    enabled: true
