storageClasses:
  default: ebs-gp2
objectStorage:
  type: s3
  s3:
    region: set-me
    regionEndpoint: set-me
    forcePathStyle: false
ingressNginx:
  controller:
    config:
      useProxyProtocol: false
    useHostPort: false
    service:
      enabled: true
      type: LoadBalancer
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-type: nlb
      allocateLoadBalancerNodePorts: true
networkPolicies:
  global:
    externalLoadBalancer: false
    ingressUsingHostNetwork: false
  ingressNginx:
    ingressOverride:
      enabled: false
opa:
  rejectLoadBalancerService:
    enabled: false
