fullnameOverride: ""
nameOverride: ""

imagePullSecrets: []
image:
  pullPolicy: IfNotPresent
  # TODO: Provide own image
  repository: docker.io/bitnami/kubectl
  tag: "1.25"

wait: true
waitFor: []

serviceAccount:
  annotations: {}
  name: ""

podAnnotations: {}
podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  capabilities:
    drop:
      - ALL

userCRDs:
  enabled: false

minimumDeploymentReplicas:
  enabled: false
