image:
  repository: elastisys/curl-jq
  tag: ubuntu

snapshotApiAccountSecret: opendistro-es-snapshotter-user

schedule: "@daily"
esEndpoint: opendistro-es-client-service:9200
snapshotRepository: s3
snapshots:
  min: 7
  max: 14
  maxAgeSeconds: 864000 # = 60 * 60 * 24 * 10 = 10 days

startingDeadlineSeconds: 300
activeDeadlineSeconds: 300

resources:
  limits: {}
  requests: {}
