resources: {{- toYaml .Values.ciskubebenchExporter.resources | nindent 2 }}

tolerations:
{{- toYaml .Values.ciskubebenchExporter.tolerations | nindent 2 }}

affinity:
{{- toYaml .Values.ciskubebenchExporter.affinity | nindent 2 }}

curlcronjob:
  resources: {{- toYaml .Values.ciskubebenchExporter.curlcronjob.resources | nindent 4 }}
