# targetNamespace defines where you want trivy-operator to operate. By
# default it will only operate in the namespace its installed in, but you can
# specify another namespace, or a comma separated list of namespaces, or set it
# to a blank string to let it operate in all namespaces.
targetNamespaces: ""

# excludeNamespaces is a comma separated list of namespaces (or glob patterns)
# to be excluded from scanning. Only applicable in the all namespaces install
# mode, i.e. when the targetNamespaces values is a blank string.
excludeNamespaces: {{ .Values.trivy.excludeNamespaces }}

trivy:
  offlineScan: {{ .Values.trivy.scanner.offlineScanEnabled }}

  {{- with .Values.trivy.scanner.dbRegistry }}
  dbRegistry: {{ . | quote }}
  {{- end }}
  {{- with .Values.trivy.scanner.dbRepository }}
  dbRepository: {{ . | quote }}
  {{- end }}
  dbRepositoryInsecure: {{ .Values.trivy.scanner.dbRepositoryInsecure }}

  {{- with .Values.trivy.scanner.javaDbRegistry }}
  javaDbRegistry: {{ . | quote }}
  {{- end }}
  {{- with .Values.trivy.scanner.javaDbRepository }}
  javaDbRepository: {{ . | quote }}
  {{- end }}

  {{- with .Values.trivy.scanner.registry }}
  registry:
    mirror:
      {{ toYaml .mirror | nindent 6 }}
  {{- end }}
  {{- if .Values.trivy.scanner.resources }}
  resources: {{- toYaml .Values.trivy.scanner.resources | nindent 4 }}
  {{- end }}
  {{- if .Values.trivy.scanner.timeout }}
  timeout: {{- toYaml .Values.trivy.scanner.timeout | nindent 4 }}
  {{- end }}

operator:

  replicas: 1

  # configAuditScannerEnabled the flag to enable configuration audit scanner
  configAuditScannerEnabled: {{ .Values.trivy.configAuditScannerEnabled }}
  # vulnerabilityScannerEnabled the flag to enable vulnerability scanner
  vulnerabilityScannerEnabled: {{ .Values.trivy.vulnerabilityScannerEnabled }}
  # the flag to enable sbom generation
  sbomGenerationEnabled: {{ .Values.trivy.sbomGenerationEnabled }}
  # rbacAssessmentScannerEnabled the flag to enable rbac assessment scanner
  rbacAssessmentScannerEnabled: {{ .Values.trivy.rbacAssessmentScannerEnabled }}
  # infraAssessmentScannerEnabled the flag to enable infra assessment scanner
  infraAssessmentScannerEnabled: {{ .Values.trivy.infraAssessmentScannerEnabled }}
  # clusterComplianceEnabled the flag to enable cluster compliance scanner
  clusterComplianceEnabled: {{ .Values.trivy.clusterComplianceEnabled }}
  # vulnerabilityScannerReportTTL the flag to set how long a vulnerability report should exist. "" means that the vulnerabilityScannerReportTTL feature is disabled
  scannerReportTTL: {{ .Values.trivy.vulnerabilityScanner.scannerReportTTL }}
  # exposedSecretScannerEnabled the flag to enable exposed secret scanner
  exposedSecretScannerEnabled: {{ .Values.trivy.exposedSecretScannerEnabled }}
  # vulnerabilityScannerScanOnlyCurrentRevisions the flag to only create vulnerability scans on the current revision of a deployment.
  vulnerabilityScannerScanOnlyCurrentRevisions: {{ .Values.trivy.vulnerabilityScanner.scanOnlyCurrentRevisions }}
  configAuditScannerScanOnlyCurrentRevisions: false
  # scanJobsConcurrentLimit the maximum number of scan jobs create by the operator
  scanJobsConcurrentLimit: {{ .Values.trivy.scanJobs.concurrentLimit }}
  # scanJobsRetryDelay the duration to wait before retrying a failed scan job
  scanJobsRetryDelay: {{ .Values.trivy.scanJobs.retryDelay }}
  # scanJobTimeout the length of time to wait before giving up on a scan job
  scanJobTimeout: {{ .Values.trivy.scanJobs.timeout }}

  {{- with .Values.trivy.scanner.imagePullSecret.name }}
  privateRegistryScanSecretsNames: {"monitoring": {{ . }}}
  {{- end }}

tolerations: {{- toYaml .Values.trivy.tolerations | nindent 2 }}

affinity: {{- toYaml .Values.trivy.affinity | nindent 2 }}

resources: {{- toYaml .Values.trivy.resources | nindent 2 }}

serviceMonitor:
  # enabled determines whether a serviceMonitor should be deployed
  enabled: {{ .Values.trivy.serviceMonitor.enabled }}
  interval: {{ .Values.trivy.serviceMonitor.interval }}
