restrictImageRegistry:
    enable: true
    enforcementAction: dryrun
requireNetworkpolicies:
    enable: true
    enforcementAction: dryrun
requireResourceRequests:
    enable: true
    enforcementAction: dryrun
disallowedTags:
    enable: true
    enforcementAction: dryrun
allowUserCRDs:
    enable: true
    enforcementAction: warn
rejectLoadBalancerService:
    enable: true
    enforcementAction: dryrun
minimumDeploymentReplicas:
    enable: true
    enforcementAction: warn

imageRegistryURL: registry.example.com

imageDisallowedTags:
    - latest

userCRDs:
    enabled: false
    admin:
        users: []
        groups: []
        serviceAccounts: []
    allowedCRDs: []
