# Changes made here will override the default values as well as the common config for this cluster.
# See the default configuration under "defaults/" to see available and suggested options.
opa:
  imageRegistry:
    URL:
      - harbor.pipeline-exoscale.elastisys.se
user:
  namespaces:
    - demo1
    - demo2
    - demo3
  adminUsers:
    - user-admin@example.com
  adminGroups: []
networkPolicies:
  global:
    wcApiserver:
      ips:
        - 0.0.0.0/0
    wcNodes:
      ips:
        - 0.0.0.0/0
