global:
  baseDomain: ${domain}
  opsDomain: ${ops_prefix}.${domain}
  clusterDns: 10.96.0.10
clusterAdmin:
  users:
    - admin@example.com
externalTrafficPolicy:
  local: true
storageClasses:
  default: standard
objectStorage:
  type: s3
  s3:
    region: local
    regionEndpoint: http://minio.${domain}:30080
    forcePathStyle: true
calicoAccountant:
  backend: nftables
clusterApi:
  enabled: false
  monitoring:
    enabled: false
opa:
  imageRegistry:
    URL:
      - harbor.${domain}
      - quay.io/jetstack/cert-manager-acmesolver
  rejectLoadBalancerService:
    enabled: false
ingressNginx:
  controller:
    service:
      enabled: true
      annotations:
        elastisys.io/local-cluster: tests
      clusterIP: 10.96.0.20
      type: LoadBalancer
      allocateLoadBalancerNodePorts: false
    config:
      useProxyProtocol: false
    additionalConfig:
      worker-processes: "4"
    extraArgs:
      disable-full-test: "true"
    useHostPort: false
networkPolicies:
  global:
    objectStorage:
      ips:
        - 0.0.0.0/0
      ports:
        - 30080
        - 80
    scIngress:
      ips:
        - 0.0.0.0/0
    wcIngress:
      ips:
        - 0.0.0.0/0
    externalLoadBalancer: false
    ingressUsingHostNetwork: false
    trivy:
      ips:
        - 0.0.0.0/0
  alertmanager:
    alertReceivers:
      ips:
        - 0.0.0.0/0
  certManager:
    letsencrypt:
      ips:
        - 0.0.0.0/0
  coredns:
    externalDns:
      ips:
        - 0.0.0.0/0
    serviceIp:
      ips:
        - 10.96.0.10/32
  falco:
    plugins:
      ips:
        - 0.0.0.0/0
  crossplane:
    packageRegistry:
      ips:
        - 0.0.0.0/0
  ingressNginx:
    ingressOverride:
      enabled: true
      ips:
        - 0.0.0.0/0
