policies:
  fluentd-system:
    log-manager:
      podSelectorLabels:
        app.kubernetes.io/name: log-manager
      egress:
        - rule: egress-rule-dns
        - rule: egress-rule-object-storage
