{{- $namespaces := keys .Values.constraints | sortAlpha }}
{{- $exceptions := list }}
{{- range $namespace, $services := .Values.constraints }}
{{- range $services }}
{{- if get .allow "hostNetworkPorts" }}
{{- $exceptions = append $exceptions .podSelectorLabels }}
{{- end }}
{{- end }}
{{- end }}
---
apiVersion: constraints.gatekeeper.sh/v1beta1
kind: K8sPSPHostNetworkingPorts
metadata:
  name: {{ printf "host-network-ports-%s-restricted" .Release.Namespace | trunc 63 }}
spec:
  match:
    {{- dict "namespaces" $namespaces "exceptions" $exceptions | include "podsecuritypolicies.renderMatchExceptions" | nindent 4 }}
  parameters:
    hostNetwork: false
    min: 0
    max: 0
