policies:
  kube-system:
    dns-autoscaler:
      podSelectorLabels:
        k8s-app: dns-autoscaler
      ingress:
        - rule: ingress-rule-apiserver
          ports:
            - tcp: 8080
        - rule: egress-rule-nodes
          ports:
            - tcp: 8080
      egress:
        - rule: egress-rule-apiserver
