policies:
  monitoring:
    trivy-operator:
      podSelectorLabels:
        app.kubernetes.io/instance: trivy-operator
        app.kubernetes.io/name: trivy-operator
      egress:
        - rule: egress-rule-apiserver
        - rule: egress-rule-dns
        - rule: egress-rule-trivy
      ingress:
        - rule: ingress-rule-prometheus
          ports:
            - tcp: 8080

    trivy-vulnerability-report-scanner:
      podSelectorLabels:
        vulnerabilityReport.scanner: Trivy
      egress:
        - rule: egress-rule-dns
        - rule: egress-rule-trivy
    node-collector:
      podSelectorLabels:
        app: node-collector
      egress:
        - rule: egress-rule-apiserver
        - rule: egress-rule-dns
