objectStorage: {}
  # gcs:
  #   keyfileData: |
  #     {}
  # s3:
  #   accessKey: "set-me"
  #   secretKey: "set-me"
  # swift:
  #   username: set-me
  #   password: set-me
  #   # Configure application credential to use with Thanos and or rclone-sync
  #   applicationCredentialID: "set-me"
  #   applicationCredentialSecret: "set-me"
  # azure:
  #   storageAccountKey: key
  #
  # # If backup sync is enabled
  # sync:
  #   s3:
  #     accessKey: "set-me"
  #     secretKey: "set-me"
  #   swift:
  #     applicationCredentialID: "set-me" #  application credentials are preferred over username and password, but both are currently supported
  #     applicationCredentialSecret: "set-me"
  #     username: "set-me"
  #     password: "set-me"
  #   encrypt:
  #     password: "set-me" # generate with `pwgen 32 1`
  #     salt: "set-me" # generate with `pwgen 32 1`
  #     passwordObscured: "set-me" # generate with `rclone obscure <password>`
  #     saltObscured: "set-me" # generate with `rclone obscure <salt>`
grafana:
  password: somelongsecret
  clientSecret: somelongsecret
  opsClientSecret: somelongsecret
  ops:
    envRenderSecret: []
  user:
    envRenderSecret: []
harbor:
  password: somelongsecret
  clientSecret: somelongsecret
  xsrf: somelongsecret
  coreSecret: somelongsecret
  jobserviceSecret: somelongsecret
  registrySecret: somelongsecret
  internal:
    databasePassword: somelongsecret
  # external:
  #   databasePassword: set-me # password for external database user
thanos:
  receiver:
    basic_auth:
      password: somelongsecret
opensearch:
  adminPassword: somelongsecret
  adminHash: '$2y$12$deOdppfS.5sd7jZjbEQQPO7UoVvnSN2v8ZyJxmGPj80mffjoEZzvG'
  clientSecret: somelongsecret
  configurerPassword: somelongsecret
  configurerHash: '$2y$12$deOdppfS.5sd7jZjbEQQPO7UoVvnSN2v8ZyJxmGPj80mffjoEZzvG'
  dashboardsPassword: somelongsecret
  dashboardsHash: '$2y$12$deOdppfS.5sd7jZjbEQQPO7UoVvnSN2v8ZyJxmGPj80mffjoEZzvG'
  dashboardsCookieEncKey: "abcdefghijklmnopqrstuvabcdefghij"
  fluentdPassword: somelongsecret
  curatorPassword: somelongsecret
  snapshotterPassword: somelongsecret
  metricsExporterPassword: somelongsecret
  extraUsers: []
  #    - username: static-user
  #      definition:
  #        password: somelongsecret
  #        opendistro_security_roles:
  #        - kibana_user #make sure the role exists or is created using extraRoles
  #        backend_role:
  #        - backed_role
  #        attributes:
  #          attribute1: value1
  #          attribute2: value2
kubeapiMetricsPassword: somelongsecret
alerts:
  slack:
    apiUrl: somelongsecret
  opsGenie:
    apiKey: somelongsecret
kured:
  slack:
    botToken: ""
dex:
  staticPassword: $2a$10$2b2cU8CPhOTaGrs1HRQuAueS7JTT5ZHsHSzYiFPm1leZck7Mc8T4W
  kubeloginClientSecret: somelongsecret
  connectors: []
    # ## https://dexidp.io/docs/connectors/oidc/
    # - name: Google
    #   id: google
    #   type: google
    #   config:
    #     clientID: "" # Google client ID
    #     clientSecret: "" # Google client secret
    #     redirectURI: https://dex.${BASE_DOMAIN}/callback
    #     # Needed for group support
    #     # serviceAccountFilePath: /etc/dex/google/sa.json
    #     # domainToAdminEmail:
    #     #   '*': admin@example.com
    #     hostedDomains:
    #       - example.com # Trusted domains
    #
    # - name: Okta
    #   id: okta
    #   type: oidc
    #   config:
    #     issuer: "https://example.okta.com" # Okta issuer URL
    #     redirectURI: https://dex.${BASE_DOMAIN}/callback
    #     clientID: "" # Okta client ID
    #     clientSecret: "" # Okta client secret
    #     insecureSkipEmailVerified: false
    #     insecureEnableGroups: true
    #     scopes:
    #       - openid
    #       - profile
    #       - email
    #       - groups
    #     getUserInfo: true
    #
    # - name: AAA
    #   id: aaa
    #   type: oidc
    #   config:
    #     clientID: "" # AAA client ID
    #     clientSecret: "" # AAA client secret
    #     issuer: https://asmp-test.a1.net/oauth2
    #     redirectURI: https://dex.${BASE_DOMAIN}/callback
    #     insecureSkipEmailVerified: true
    #
    # ## https://dexidp.io/docs/connectors/microsoft/
    # - name: Azure
    #   id: azure
    #   type: microsoft
    #   config:
    #     tenant: "" # Azure tenant ID
    #     redirectURI: https://dex.${BASE_DOMAIN}/callback
    #     clientID: "" # Azure app application ID
    #     clientSecret: "" # Azure app secret
    #     #groups: # App needs to have `Directory.Read.All` permission
    #     #  - example-group
    #
    # ## https://dexidp.io/docs/connectors/ldap/
    # -   name: Jumpcloud
    #     id: ldap
    #     type: ldap
    #     config:
    #         host: ldap.jumpcloud.com:636
    #         bindDN: uid=<LDAP_BINDING_USER>,ou=Users,o=<YOUR_ORG_ID>,dc=jumpcloud,dc=com
    #         bindPW: <LDAP_BINDING_USER_PASSWORD>
    #         usernamePrompt: example@email.com
    #         userSearch:
    #             baseDN: ou=Users,o=<YOUR_ORG_ID>,dc=jumpcloud,dc=com
    #             filter: (objectClass=inetOrgPerson)
    #             idAttr: uid
    #             username: mail
    #             emailAttr: mail
    #             nameAttr: cn
    #         groupSearch:
    #             baseDN: ou=Users,o=<YOUR_ORG_ID>,dc=jumpcloud,dc=com
    #             filter: (objectClass=groupOfNames)
    #             userAttr: DN
    #             groupAttr: member
    #             nameAttr: cn
  additionalStaticClients: []
    #  - id: example-app
    #    secret: ZXhhbXBsZS1hcHAtc2VjcmV0
    #    name: 'Example App'
    #    redirectURIs:
    #      - 'http://192.168.42.219:31850/oauth2/callback'
issuers:
  secrets: {}
    # route53-credentials-secret:
    #   secretKey: set-me

externalDns:
  # If ExternalDNS is enabled, create a separate user with permissions to change dns records.
  # Example of a iam-policy can be found here: https://kubernetes-sigs.github.io/external-dns/v0.14.1/tutorials/aws/#iam-policy
  awsRoute53:
    accessKey: set-me-if-externalDns-enabled
    secretKey: set-me-if-externalDns-enabled
user:
  grafanaPassword: somelongsecret
  alertmanagerPassword: somelongsecret
