{
  "kubeloginClientSecret": "set-me",
  "adminGroup": "set-me",
  "dex": {
    "gcp": {
      "clientID": "set-me",
      "clientSecret": "set-me"
    }
  },
  "externalDns": {
    "domain": "set-me",
    "hostedZone": "set-me",
    "aws": {
      "accessKey": "set-me",
      "secretKey": "set-me"
    }
  },
  "objectStorage": {
    "s3": {
      "accessKey": "set-me",
      "secretKey": "set-me"
    },
    "swift": {
      "applicationCredentialID": "set-me",
      "applicationCredentialSecret": "set-me"
    }
  },
  "wcSubnets": {
    "apiServer": ["0.0.0.0/0"],
    "nodes": ["0.0.0.0/0"],
    "ingress": ["0.0.0.0/0"]
  },
  "scSubnets": {
    "apiServer": ["0.0.0.0/0"],
    "nodes": ["0.0.0.0/0"],
    "ingress": ["0.0.0.0/0"]
  }
}
