{
  "kubeloginClientSecret": "set-me",
  "awsAccessKey": "set-me",
  "awsSecretKey": "set-me",
  "gcpClientID": "set-me",
  "gcpClientSecret": "set-me",
  "objectStorage": {
    "s3": {
      "accessKey": "set-me",
      "secretKey": "set-me"
    },
    "swift": {
      "applicationCredentialID": "set-me",
      "applicationCredentialSecret": "set-me"
    }
  }
}
