{{- if .Values.user.constraints }}
constraints:
{{- range $key, $value := .Values.user.constraints}}
  {{ $key }}:{{- unset $value "psaLevel" | toYaml | nindent 4 }}
{{- end }}
{{- end }}

mutations:
  # Select user restricted namespaces
  namespaceSelectorLabels:
    - key: owner
      operator: NotIn
      values:
        - operator
    - key: pod-security.kubernetes.io/enforce
      operator: In
      values:
        - restricted
