apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-kube-prometheus-stack-alertmanager
  namespace: alertmanager
  labels:
    app: kube-prometheus-stack-alertmanager
stringData:
  alertmanager.yaml: |-
    global:
      resolve_timeout: 5m
    inhibit_rules: []
    receivers:
    - name: "null"
    route:
      group_by:
      - alertname
      group_interval: 5m
      group_wait: 30s
      receiver: "null"
      repeat_interval: 12h
      routes:
      - matchers:
        - alertname = "Watchdog"
        receiver: "null"
    templates:
    - /etc/alertmanager/config/*.tmpl
