constraints:
  kured:
    kured:
      podSelectorLabels:
        app.kubernetes.io/instance: kured
      allow:
        hostNamespace: true
        runAsUser:
          rule: RunAsAny
        volumes:
          - emptyDir
          - projected
          - hostPath
          - configMap
        allowedHostPaths:
          - pathPrefix: "/var/run"
        allowedCapabilities:
          - CAP_KILL
