constraints:
  velero:
    node-agent:
      podSelectorLabels:
        name: node-agent
      allow:
        volumes:
          - hostPath
          - emptyDir
          - projected
          - secret
        allowedHostPaths:
          - pathPrefix: /var/lib/kubelet/pods
            readOnly: false
        runAsUser:
          rule: RunAsAny
        privileged: true
        allowPrivilegeEscalation: true
