calicoDataStore: "kubernetes"
backend: nftables
image:
  repository: ghcr.io/elastisys/calico-accountant
  tag: 0.1.6-ck8s2
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
tolerations:
  - key: node-role.kubernetes.io/master
    effect: NoSchedule
  - key: node-role.kubernetes.io/control-plane
    effect: NoSchedule
