clusters:
  {{- if .Values | get "ck8sManagementCluster.enabled" true }}
  {{- range .Values.clusterApi.clusters }}
  {{- if and (ne . "mc") (ne . "sc") }}
  - {{ . }}
  {{- end }}
  {{- end }}
  {{- end }}
