resources:
{{- toYaml .Values.metricsServer.resources | nindent 2 }}
tolerations: {{- toYaml .Values.metricsServer.tolerations | nindent 2 }}
affinity: {{- toYaml .Values.metricsServer.affinity | nindent 2 }}
