namespaces:
- name: cert-manager
- name: dex
- name: opensearch-system
- name: fluentd
- name: influxdb-prometheus
- name: kube-node-lease
- name: kube-public
- name: kube-system
- name: monitoring
- name: ingress-nginx
- name: thanos
- name: velero
{{ if .Values.harbor.enabled }}
- name: harbor
{{ end }}
commonLabels:
  owner: operator
