namespaces:
- name: cert-manager
  labels:
    certmanager.k8s.io/disable-validation: "true"
- name: fluentd
- name: kube-node-lease
- name: kube-public
- name: kube-system
- name: monitoring
- name: ingress-nginx
- name: velero
{{ if .Values.falco.enabled }}
- name: falco
{{ end }}
{{ if .Values.opa.enabled }}
- name: gatekeeper
- name: gatekeeper-system
{{ end }}
commonLabels:
  owner: operator
