# Default values for alerts.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
osNodeCount: 3
alertmanagerJob: kube-prometheus-stack-alertmanager
alertmanagerNamespace: monitoring
prometheusJob: kube-prometheus-stack-prometheus
operatorJob: kube-prometheus-stack-operator
prometheusNamespace: monitoring

s3BucketAlerts:
  size:
    enabled: false
    percent: 80
    sizeQuotaGB: 1000
  objects:
    enabled: false
    percent: 80
    count: 1638400
  exclude: []

autoscaledNodeGroupAlerts:
  enabled: true
  groupLabel: set-me
  groupLabelValue:
    regex: set-me

diskAlerts:
  storage:
    #  - hours: 24 # How many hours to predict over
    #    freeSpacePercentage: 30 # At what percentage to alert at
    #    severity: warning
    #    for: 1h
    #    pattern:
    #      include:
    #        node: ".*" # Node to pattern match on
    #        disk: ".*" # Disk to pattern match on
    #      exclude:
    #        node: "" # Node to filter out from pattern matching
    #        disk: "" # Disk to filter out from pattern matching
    predictLinear: []
    #  - freeSpacePercentage: 5 # At what percentage to alert at
    #    severity: warning
    #    for: 30m
    #    pattern:
    #      include:
    #        node: ".*" # Node to pattern match on
    #        disk: ".*" # Disk to pattern match on
    #      exclude:
    #        node: "" # Node to filter out from pattern matching
    #        disk: "" # Disk to filter out from pattern matching
    space: []
  inode:
    #  - freeSpacePercentage: 5 # At what percentage to alert at
    #    severity: warning
    #    for: 30m
    #    pattern:
    #      include:
    #        node: ".*" # Node to pattern match on
    #        disk: ".*" # Disk to pattern match on
    #      exclude:
    #        node: "" # Node to filter out from pattern matching
    #        disk: "" # Disk to filter out from pattern matching
    predictLinear: []
    #  - freeSpacePercentage: 5 # At what percentage to alert at
    #    severity: warning
    #    for: 30m
    #    pattern:
    #      include:
    #        node: ".*" # Node to pattern match on
    #        disk: ".*" # Disk to pattern match on
    #      exclude:
    #        node: "" # Node to filter out from pattern matching
    #        disk: "" # Disk to filter out from pattern matching
    space: []
  perf:
    enabled: false
    queueSizeThreshold: 0.5
    writeWaitTimeThreshold: 0.1
    readWaitTimeThreshold: 0.01

defaultRules:
  create: true
  runbookUrl: "https://runbooks.prometheus-operator.dev/runbooks/"
  ## Any labels to add to the alert rules
  # alertLabels:
  #   key: value

  ## Any labels to add to the recording rules
  # recordLabels:
  #   key: value
  rules:
    alertmanager: false
    blackbox: true
    certManagerCertificateAlerts: true
    falcoAlerts: true
    general: true
    hnc: false
    k8s: true
    kubeApiserverAvailability: true
    kubePrometheusGeneral: true
    kubePrometheusNodeRecording: true
    kubeStateMetrics: true
    kubelet: true
    kubernetesApps: true
    kubernetesResources: true
    kubernetesStorage: true
    kubernetesSystem: true
    network: true
    node: true
    nodeExporterAlerting: true
    nodeExporterRecording: true
    prometheus: true
    prometheusOperator: true
    opensearch: true
    rookMonitor: true
    capacityManagementAlerts: true
    thanosMonitor: false
    thanosRulerMonitor: false # Note thanos-ruler alerts does not add the defaultRules.alertLabels, instead use defaultRules.thanosRuler.alertLabels.
    backupStatus: false
    dailyChecks: false
    fluentd: true
    missingMetrics: true
    kubeSchedulerAlerting: true
    kubeSchedulerRecording: true
    kubeProxy: true
    kubeControllerManager: true
    configReloaders: true
    networkpolicies: true
    dns: true
    clusterApi: false
    harbor: true
    openstack: false
    kured: false

  appNamespacesTarget: ".*"

  thanos: {}
    ## Any labels to add to the thanos ruler alert rules
    # alertLabels:
    #   key: value

capacityManagementAlertsPredictUsage: false
capacityManagementAlertsNodeGroupCpuLimit24h: 75
capacityManagementAlertsNodeGroupMemoryLimit24h: 75
capacityManagementAlertsNodeGroupCpuLimit1h: 95
capacityManagementAlertsNodeGroupMemoryLimit1h: 85
capacityManagementAlertsNodeCpuLimit1h: 95
capacityManagementAlertsNodeMemoryLimit1h: 85
capacityManagementAlertsCpuRequestLimit: 80
capacityManagementAlertsMemoryRequestLimit: 80
capacityManagementAlertsRequestsExcludePattern: ""

buckets:
  harbor: set-me
  velero: set-me
  opensearch: set-me
  scFluentd: set-me
  thanos: set-me

harbor:
  database:
    type: internal
  redis:
    type: internal
  alerts:
    maxTotalStorageUsedGB: 500
    maxTotalArtifacts: 1000
