{{- range .Values.instances }}
{{- if .compaction.enabled }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .name }}-{{ .prefix }}-compaction
  labels:
    {{- include "log-manager.labels" $ | nindent 4 }}
spec:
  schedule: {{ .compaction.schedule | quote }}
  concurrencyPolicy: {{ $.Values.concurrencyPolicy }}
  startingDeadlineSeconds: {{ $.Values.startingDeadlineSeconds }}
  successfulJobsHistoryLimit: {{ $.Values.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ $.Values.failedJobsHistoryLimit }}
  jobTemplate:
    spec:
      activeDeadlineSeconds: {{ $.Values.activeDeadlineSeconds }}
      backoffLimit: {{ $.Values.backoffLimit }}
      template:
        metadata:
          labels:
            {{- include "log-manager.labels" $ | nindent 12 }}
        spec:
          automountServiceAccountToken: false
          restartPolicy: {{ $.Values.restartPolicy }}
          containers:
            - name: compaction
              imagePullPolicy: {{ $.Values.image.pullPolicy }}
              image: {{ $.Values.image.repository }}:{{ default $.Chart.AppVersion $.Values.image.tag }}
              command: [/scripts/compaction.sh]
              env:
              {{- if .Values.s3.enabled }}
                - name: S3_CONFIG
                  value: /configs/s3cfg.ini
                - name: S3_BUCKET
                  value: {{ .bucket }}
                - name: S3_PREFIX
                  value: {{ .prefix }}
              {{- else if .Values.azure.enabled }}
                - name: AZURE_STORAGE_CONNECTION_STRING
                  valueFrom:
                    secretRef:
                      name: {{ include "log-manager.fullname" . }}-storage-credentials
                      value: azure-storage-connection-string
                - name: AZURE_CONTAINER_NAME
                  value: {{ .Values.azure.containerName }}
                - name: AZURE_PREFIX
                  value: logs
                - name: STORAGE_SERVICE
                  value: azure
              {{- end }}
                - name: COMPACT_DAYS
                  value: {{ .compaction.days | quote }}
                - name: TMP_DIR
                  value: /scratch
              {{- with $.Values.securityContext }}
              securityContext: {{- toYaml . | nindent 16 }}
              {{- end }}
              {{- with $.Values.compaction.resources }}
              resources: {{- toYaml . | nindent 16 }}
              {{- end }}
              volumeMounts:
                - name: s3cfg
                  mountPath: /configs
                  readOnly: true
                - name: scripts
                  mountPath: /scripts
                  readOnly: true
                - name: scratch
                  mountPath: /scratch
          volumes:
            {{- if .Values.s3.enabled }}
            - name: s3cfg
              secret:
                secretName: {{ include "log-manager.fullname" $ }}-storage-credentials
            {{- end }}
            - name: scripts
              configMap:
                name: {{ include "log-manager.fullname" $ }}-scripts
                defaultMode: 0777
            - name: scratch
              {{- if .compaction.ephemeralVolumes.enabled }}
              ephemeral:
                volumeClaimTemplate:
                  metadata:
                    labels:
                      {{- include "log-manager.labels" $ | nindent 22 }}
                  spec:
                    accessModes: [ "ReadWriteOnce" ]
                    {{- with $.Values.storageClassName }}
                    storageClassName: {{ . }}
                    {{- end }}
                    resources:
                      {{- with $.Values.compaction.volume }}
                      requests: {{- toYaml . | nindent 24 }}
                      {{- end }}
              {{- else }}
              emptyDir: {}
              {{- end }}
          {{- with $.Values.imagePullSecrets }}
          imagePullSecrets: {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $.Values.podSecurityContext }}
          securityContext: {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $.Values.tolerations }}
          tolerations: {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $.Values.nodeSelector }}
          nodeSelector: {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $.Values.affinity }}
          affinity: {{- toYaml . | nindent 12 }}
          {{- end }}
{{- end }}
{{- end }}
